extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.videoPlayer;

block content
  .p-video-player(
    id = 'video-player'
    )
    video.p-video-player__media
      source(
        src = 'http://www.tplh.net/file/sample.mp4'
        )
    .p-video-player__seekbar-wrap(
      @mousedown = 'grabSeekbar',
      @touchstart = 'grabSeekbar',
      @touchmove = 'moveSeekbar',
      @touchend = 'releaseSeekbar',
      )
      .p-video-player__seekbar-current(
        :style = '{ transform: "scaleX(" + getProgressRate + ")" }'
        )
      .p-video-player__seekbar-back
    .p-video-player__control-panel
      button.p-video-player__btn(
        @click = 'playOrPause',
        )
        |{{ isPlaying ? 'pause' : 'play' }}
      button.p-video-player__btn(
        @click = 'stop'
        )
        |stop
      .p-video-player__volume
        .p-video-player__volume-label
          |Volume
        .p-video-player__volume-bar(
          @mousedown = 'grabVolumebar',
          @touchstart = 'grabVolumebar',
          @touchmove = 'moveVolumebar',
          @touchend = 'releaseVolumebar',
          )
          .p-video-player__volume-bar-disc(
            :style = '{ transform: "translateX(" + volume * 50 + "px)" }'
            )
          .p-video-player__volume-bar-current(
            :style = '{ transform: "scaleX(" + volume + ")" }'
            )
          .p-video-player__volume-bar-back
      .p-video-player__time-wrap
        span.p-video-player__time-current
          |{{ getCurrentTime }}
        |/
        span.p-video-player__time-all
          |{{ getDuration }}
