extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.videoPlayer;

block content
  .p-video-player(
    id = 'video-player'
    )
    video.p-video-player__media
      source(
        src = 'http://www.tplh.net/file/sample.mp4'
        )
    .p-video-player__seekbar-wrap(
      id = 'video-player-media',
      @mousedown = 'grabSeekbar',
      @mousemove = 'moveSeekbar',
      @mouseup = 'releaseSeekbar',
      @mouseleave = 'releaseSeekbar',
      @touchstart = 'grabSeekbar',
      @touchmove = 'moveSeekbar',
      @touchend = 'releaseSeekbar',
      )
      .p-video-player__seekbar-current(
        :style = '{ transform: "scaleX(" + getProgressRate + ")" }'
        )
      .p-video-player__seekbar-back
    .p-video-player__control-panel
      button.p-video-player__btn(
        @click = 'play'
        )
        |play
      button.p-video-player__btn(
        @click = 'pause'
        )
        |pause
      button.p-video-player__btn(
        @click = 'stop'
        )
        |stop
      .p-video-player__time-wrap
        span.p-video-player__time-current
          |{{ getCurrentTime }}
        |/
        span.p-video-player__time-all
          |{{ getDuration }}
