extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.videoPlayer;

block content
  .p-video-player(
    id = 'video-player'
    )
    video.p-video-player__media(
      id = 'video-player-media'
      )
      source(
        src = 'http://www.tplh.net/file/sample.mp4'
        )
    .p-video-player__seeker-wrap
      .p-video-player__seeker-current(
        :style = '{ transform: "scaleX(" + getProgressRate + ")" }'
        )
      .p-video-player__seeker-back
    .p-video-player__control-panel
      button.p-video-player__btn(
        @click = 'play'
        )
        |play
      button.p-video-player__btn(
        @click = 'pause'
        )
        |pause
      button.p-video-player__btn(
        @click = 'stop'
        )
        |stop
      .p-video-player__time-wrap
        span.p-video-player__time-current
          |{{ time }}
        |/
        span.p-video-player__time-all
          |{{ duration }}
