.p-video-player {
  &__media {
    width: 100%;
    display: block;
  }
  &__seekbar {
    &-wrap {
      cursor: pointer;
      position: relative;
      margin-bottom: 10px;
      padding: 10px 0 13px;
    }
    &-current, &-back {
      height: 3px;
      position: absolute;
      top: 10px; right: 0; left: 0;
    }
    &-current {
      z-index: 2;
      background-color: #111;
      transform: scaleX(0);
      transform-origin: left;
    }
    &-back {
      background-color: #ddd;
    }
  }
  &__control-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__btn {
    width: 5em;
    margin-right: 2px;
    @include fontSize(12);
    font-weight: 700;
    text-transform: uppercase;
  }
  &__volume {
    display: flex;
    align-items: center;
    margin-left: 1em;
    &-label {
      cursor: pointer;
      line-height: 1;
      margin-bottom: -2px;
      @include fontSize(12);
      font-weight: 700;
      text-transform: uppercase;
    }
    &-bar {
      width: 50px;
      cursor: pointer;
      position: relative;
      margin-left: 1em;
      padding: 10px 0 13px;
      &-disc {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%; left: 0;
        z-index: 3;
        margin-top: -4px;
        margin-left: -5px;
        border-radius: 50%;
        background-color: #111;
      }
      &-current, &-back {
        height: 3px;
        position: absolute;
        top: 10px; right: 0; left: 0;
      }
      &-current {
        z-index: 2;
        background-color: #111;
        transform: scaleX(0);
        transform-origin: left;
      }
      &-back {
        background-color: #ddd;
      }
    }
  }
  &__time {
    &-wrap {
      margin-left: 1em;
      @include fontSize(14);
      font-weight: 700;
    }
    &-current {
      margin-right: 0.25em;
    }
    &-all {
      margin-left: 0.25em;
    }
  }
}
